@import '../../assets/styles/colors';

.chat-page {
  height: 100%;

  &-container {
    height: 100%;
  }

  &-chat-container {
    border: 1px solid $blue-light;
    height: 100%;
  }

  &-input-container {
    display: flex;
    border: 1px solid $blue-light;
    height: 5rem;
  }
}
