@import '../../assets/styles/colors';

.login-page {
  background-color: #213434;
  border: 1px solid $blue-light;
  text-align: center;
  margin: auto;
  margin-top: 4rem;
  padding: 2rem;
  width: 50%;
  min-width: 20rem;
}
